<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FCP</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="static/img/logo.png" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
          rel="stylesheet">
    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <script src="static/lib/jquery/jquery.min.js"></script>
    <script src="static/lib/jquery/jquery-migrate.min.js"></script>
    <script src="static/js/jquery.redirect.js"></script>

    <script>
        function redirectPost(data, url = '/drop') {
            window.location.href = '/drop?' + new URLSearchParams(data).toString();
            /*let xhr = new XMLHttpRequest();
            xhr.open('post', url, false);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send(new URLSearchParams(data).toString());
            console.log(xhr.responseText);
            document.open();
            document.write(xhr.responseText);
            document.close();*/
        }
    </script>
    <style>
        #header {
            background: rgba(52, 59, 64, 0.9);
            padding: 20px 0;
            height: 72px;
            transition: all 0.5s;
        }
    </style>
</head>

<body style="background: #f7f7f7;">
<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <h1><a href="/">FCP</a></h1>
        </div>
    </div>
</header>
<section style="margin-top: 40px;" id="portfolio">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">У вас есть выбор</h3>
            <p class="section-description">Выбирайте правильно, но только одну </p>
            <p class="section-description" id="where_to_put_this_text"></p>
        </div>
        <div class="row">
            <div class="row" id="portfolio-wrapper">
                <div class="col-lg-3 col-md-6 portfolio-item">
                    <img style="width: calc(100% + 30px)" onclick="redirectPost({'shava_id': 0})"
                    <img style="width: calc(100% + 30px)"
                         src="static/img/portfolio/shava0.jpg" alt="">
                    <div class="details">
                        <h4>Шаурма Классическая культура</h4>
                        <span>Как у мамы</span>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 portfolio-item">
                    <img style="width: calc(100% + 30px)" onclick="redirectPost({'shava_id': 1})"
                         src="static/img/portfolio/shava1.jpg" alt="">
                    <div class="details">
                        <h4>Шаурма Сырная культура</h4>
                        <span>Как у папы</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item">
                    <img style="width: calc(100% + 30px)" onclick="redirectPost({'shava_id': 2})"
                         src="static/img/portfolio/shava2.jpg" alt="">
                    <div class="details">
                        <h4>Шаурма Блэк Пеппер</h4>
                        <span>Как у Ашота</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item">
                    <img style="width: calc(100% + 30px)" onclick="redirectPost({'shava_id': 3})"
                         src="static/img/portfolio/shava3.jpg" alt="">
                    <div class="details">
                        <h4>Шаурма Паприка Барбекю</h4>
                        <span>Как у Васгена</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item">
                    <img style="width: calc(100% + 30px)" onclick="redirectPost({'shava_id': 4})"
                         src="static/img/portfolio/shava4.jpg" alt="">
                    <div class="details">
                        <h4>Шаурма Аля Русская</h4>
                        <span>Как у Сани</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item">
                    <img style="width: calc(100% + 30px)" onclick="redirectPost({'shava_id': 5})"
                         src="static/img/portfolio/shava5.jpg" alt="">
                    <div class="details">
                        <h4>Шаурма из мраморной говядины</h4>
                        <span>Как у Александра Ярославовича</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item">
                    <img style="width: calc(100% + 30px)" onclick="redirectPost({'shava_id': 6})"
                         src="static/img/portfolio/shava6.jpg" alt="">
                    <div class="details">
                        <h4>Шаурма в турецкой лепешке</h4>
                        <span>Like a boss</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item">
                    <img style="width: calc(100% + 30px)" onclick="redirectPost({'shava_id': 7})"
                         src="static/img/portfolio/shava7.jpg" alt="">
                    <div class="details">
                        <h4>Шаурма из свиного окорока</h4>
                        <span>Как у Елены Дмитриевны</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    let req = new XMLHttpRequest();
    req.open('GET', 'https://min-api.cryptocompare.com/data/price?fsym=ETH&tsyms=USD,RUB', false);
    req.send();
    let data = JSON.parse(req.responseText);
    const rub = 250;
    const eth = rub / data['RUB'];
    const usd = eth * data['USD'];

    let text = 'Сегодня вы заплатите RUB рублей, что есть ETH эфира или USD долларов'.replace('RUB', rub).replace('ETH', eth).replace('USD', usd);
    document.getElementById('where_to_put_this_text').innerText = text;
</script>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/easing/easing.min.js"></script>
<script src="static/lib/wow/wow.min.js"></script>
<script src="static/lib/waypoints/waypoints.min.js"></script>
<script src="static/lib/counterup/counterup.min.js"></script>
<script src="static/lib/superfish/hoverIntent.js"></script>
<script src="static/lib/superfish/superfish.min.js"></script>

<script src="static/js/main.js"></script>
</body>
</html>
