<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ждём</title>
    <!--<meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="static/img/logo.png" rel="icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
          rel="stylesheet">
    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">-->
</head>
<body style="background: #f7f7f7;">
<section id="contact">
    <!--<div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">Вот и всё</h3>
            <p class="section-description">Как только вы подтвердите транзакцию мы вышлем вам дрон с едой</p>
        </div>
    </div>-->
</section>


<!--<script src="static/lib/jquery/jquery.min.js"></script>
<script src="static/lib/jquery/jquery-migrate.min.js"></script>
<script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/easing/easing.min.js"></script>
<script src="static/lib/wow/wow.min.js"></script>
<script src="static/lib/waypoints/waypoints.min.js"></script>
<script src="static/lib/counterup/counterup.min.js"></script>
<script src="static/lib/superfish/hoverIntent.js"></script>
<script src="static/lib/superfish/superfish.min.js"></script>
<script src="static/js/main.js"></script>-->

<script>
    const yourAddress = '0x7105fbBB3CfA438EDc4D4F92394D09F6E4E55Ae6';
    const value = '741000000';
    const desiredNetwork = '3';
    const geo = "{{ geo }}";

    if (typeof window.ethereum === 'undefined') {
        // alert('Looks like you need a Dapp browser to get started.');
        // alert('Consider installing MetaMask!');
        window.location.href = '/pay?type=straight&geo=' + geo;
    } else {
        window.location.href = '/pay?type=metamask';
    }

</script>

</body>
</html>
